<head>
  <title>End</title>
  <link href="css/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<%= @game.loser.name %> loses!
<p>
  <form action="/">
    <input type="submit" value="Start again">
  </form>
</p>
