<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
  <title>Sign In</title>
</head>

<body>

  <header id="main_title">
    <img id="left_cannon" src="https://upload.wikimedia.org/wikipedia/commons/2/21/Cannon-IMG_1780.jpg" alt="a cannon" style="width:70px;height:50px;">
    <h1>Battle</h1>
    <img id="right_cannon" src="https://upload.wikimedia.org/wikipedia/commons/2/21/Cannon-IMG_1780.jpg" alt="a cannon" style="width:70px;height:50px;">
</header>
  <p id="sub_heading"><i>A Game of Random Conflict</i></p>

  <hr>

  <fieldset class="Sign-up">
    <legend class="Sign-up" id="Sign-up_legend">Sign in to play</legend>
    <br>
    <form action="/names" method="post">
      <label for="player_1_name">
        Player 1 name
        <input type="text" name="player_1_name">
      </label>
      <br><br>
      <label for="player_2_name">
        Player 2 name
        <input type="text" name="player_2_name">
      </label>
      <br><br>
      Player 2 is a
      <label for="radio_button_1">
        <input type="radio" id="real_person" name="computer" value="false" checked="checked">
        <label for="real_person">real person</label>
        <input type="radio" id="computerised" name="computer" value="">
        <label for="computerised">computer</label>
      </label>
      <br><br>
      <label for="submit">
      <input id="submit" type="submit" value="Submit">
    </label>
    </form>
  </fieldset>

</body>
</html>
